@model IEnumerable<TheatreCompany.Models.User>

@{
    ViewBag.Title = "ViewUsers";
}
<div id="content">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <h2>View All Users</h2>

    <table class="table">
        <tr>
            <th>
                <p>@Html.DisplayNameFor(model => model.LastName)</p>
            </th>
            <th>
                <p>@Html.DisplayNameFor(model => model.FirstName)</p>
            </th>
            <th>
                <p>@Html.DisplayNameFor(model => model.UserName)</p>
            </th>
            <th>
                <p>@Html.DisplayNameFor(model => model.Street)</p>
            </th>
            <th>
                <p>@Html.DisplayNameFor(model => model.City)</p>
            </th>
            <th>
                <p>@Html.DisplayNameFor(model => model.PostCode)</p>
            </th>
            <th>
                <p>@Html.DisplayNameFor(model => model.Email)</p>
            </th>
            <th>
                <p>@Html.DisplayNameFor(model => model.PhoneNumber)</p>
            </th>
            <th>
                <p>@Html.DisplayNameFor(model => model.IsActive)</p>
            </th>
            <th>
                <p>@Html.DisplayNameFor(model => model.IsSuspended)</p>
            </th>
            <th>
                <p>@Html.DisplayNameFor(model => model.CurrentRole)</p>
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <p>@Html.DisplayFor(modelItem => item.LastName)</p>
                </td>
                <td>
                    <p>@Html.DisplayFor(modelItem => item.FirstName)</p>
                </td>
                <td>
                    <p>@Html.DisplayFor(modelItem => item.UserName)</p>
                </td>
                <td>
                    <p>@Html.DisplayFor(modelItem => item.Street)</p>
                </td>
                <td>
                    <p> @Html.DisplayFor(modelItem => item.City)</p>
                </td>
                <td>
                    <p>@Html.DisplayFor(modelItem => item.PostCode)</p>
                </td>
                <td>
                    <p>@Html.DisplayFor(modelItem => item.Email)</p>
                </td>
                <td>
                    <p>@Html.DisplayFor(modelItem => item.PhoneNumber)</p>
                </td>
                <td>
                    <p>@Html.DisplayFor(modelItem => item.IsActive)</p>
                </td>
                <td>
                    <p>@Html.DisplayFor(modelItem => item.IsSuspended)</p>
                </td>
                <td>
                    <p>@Html.DisplayFor(modelItem => item.CurrentRole)</p>
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "DeleteUser", new { id = item.Id }) |
                    @Html.ActionLink("Change Role", "ChangeRole", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</div>

