@model IEnumerable<TheatreCompany.Models.Post>

@{
    ViewBag.Title = "ViewAllPosts";
}
<div id="content">
    <h2>ViewAllPosts</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                <p>@Html.DisplayNameFor(model => model.Category.Name)</p>
            </th>
            <th>
                <p>@Html.DisplayNameFor(model => model.User.FirstName)</p>
            </th>
            <th>
                <p>@Html.DisplayNameFor(model => model.Title)</p>
            </th>
            <th>
                <p>@Html.DisplayNameFor(model => model.Body)</p>
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <p>@Html.DisplayFor(modelItem => item.Category.Name)</p>
                </td>
                <td>
                    <p>@Html.DisplayFor(modelItem => item.User.FirstName)</p>
                </td>
                <td>
                    <p>@Html.DisplayFor(modelItem => item.Title)</p>
                </td>
                <td>
                    <p>@Html.DisplayFor(modelItem => item.Body)</p>
                </td>
                <td>
                    <p>@Html.ActionLink("Edit", "EditPost", new { id = item.PostId })</p>
                    <p>@Html.ActionLink("Delete", "DeletePost", new { id = item.PostId })</p>
                </td>
            </tr>
        }

    </table>
</div>
