@model TheatreCompany.Models.Post

<div id="content">

    <!-- page-banner-section
        ================================================== -->
    <section class="page-banner-section">
        <div class="container">
            <h1>@Model.Title</h1>
            <p></p>
        </div>
        <div class="info-box">
            <p>
                <i class="fa fa-phone-square"></i>
                0333 009 6690
                <span class="divider-line"></span>

                <i class="fa fa-envelope-square"></i>
                info@TheatreCompany.com
            </p>
        </div>
    </section>
    <!-- End page-banner section -->
    <!-- single-post-section
        ================================================== -->
    <section class="single-post-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="post-content">

                        <ul class="meta-list">
                            <li>
                                <a href="#">
                                    <i class="far fa-folder-open"></i>
                                    @Html.DisplayFor(model => model.Title)
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="far fa-clock"></i>
                                    9 Hours ago
                                </a>
                            </li>
                        </ul>
                        <h3>@Html.DisplayFor(model => model.Title)</h3>
                        <p>@Html.DisplayFor(model => model.Body) </p>


                        <div>@Html.Partial("_CommentsById", Model.Comments)</div>
                       


                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="sidebar">

                        <div class="sidebar-widget">
                            <form id="searchform" class="searchform">
                                <div>
                                    <input type="text" value="" name="s" id="s" placeholder="Search">
                                    <button type="submit" id="searchsubmit" class="submit">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </form>
                        </div>

                        <div class="sidebar-widget widget_categories">
                            <h4>Post Category</h4>
                            <ul>
                                <li><a href="#">Blog Posts</a></li>
                                <li><a href="#">Announcements</a></li>
                                <li><a href="#">Reviews</a></li>
                            </ul>
                        </div>

                        <div class="sidebar-widget widget_flab_popular_posts_widget">
                            <h4>Recent Posts</h4>
                            <div class="popular-widget">
                                <ul class="popular-list">
                                    <li>
                                        <img src="~/images/s1.jpg" alt="">
                                        <div class="side-content">
                                            <h4>
                                                <a href="single-post.html">Top 10 animated movies!</a>
                                            </h4>
                                            <span class="sidebar__popular-list-desc">January 29, 2022</span>
                                        </div>
                                    </li>
                                    <li>
                                        <img src="~/images/s1.jpg" alt="">
                                        <div class="side-content">
                                            <h4>
                                                <a href="single-post.html">New Theatre in Glasgow</a>
                                            </h4>
                                            <span class="sidebar__popular-list-desc">January 30, 2022</span>
                                        </div>
                                    </li>
                                    <li>
                                        <img src="~/images/s1.jpg" alt="">
                                        <div class="side-content">
                                            <h4>
                                                <a href="single-post.html">Top 10 worst movies of the year!</a>
                                            </h4>
                                            <span class="sidebar__popular-list-desc">January 31, 2022</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                      

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End blog-section -->
</div>