@model IEnumerable<TheatreCompany.Models.Post>

<div id="content">

    <!-- page-banner-section
        ================================================== -->
    <section class="page-banner-section">
        <div class="container">
            <h1>Announcements</h1>
            <p>Welcome to our posts</p>
        </div>
        <div class="info-box">
            <p>
                <i class="fa fa-phone-square"></i>
                0333 009 6690
                <span class="divider-line"></span>

                <i class="fa fa-envelope-square"></i>
                info@TheatreCompany.com
            </p>
        </div>
    </section>
    <!-- End page-banner section -->
    <!-- Search By Category Function -->
    @using (Html.BeginForm())
    {
        <p>
            Find posts by category: @Html.TextBox("SearchString")

            <input type="submit" value="Search" />
        </p>
    }
    @if (Request.IsAuthenticated)
    {
        if (User.IsInRole("Admin"))
        {
            <p>
                @Html.ActionLink("Create new Post", "Create", "Posts")
            </p>
        }
    }

    <br />
    <hr />


    <!-- blog-section
        ================================================== -->
    <section class="blog-section">
        <div class="container">
            <div class="blog-box">
                @foreach (var item in Model)
                {
                    <div class="blog-post post-list-style">
                        <a href="single-post.html" class="post-thumbnail">
                            <img src="~/images/s2.jpg" alt="">
                        </a>
                        <div class="post-content">
                            <ul class="meta-list">
                                <li>
                                    <a href="#">
                                        <i class="far fa-folder-open"></i>
                                        @Html.DisplayFor(modelItem => item.Category.Name)
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="far fa-clock"></i>
                                        By: @Html.DisplayFor(modelItem => item.User.FirstName)
                                    </a>
                                </li>
                            </ul>
                            <h3><a href="@Url.Action("Details", new { id=item.PostId })">@Html.DisplayFor(modelItem => item.Title)</a></h3>
                            <p>@Html.DisplayFor(modelItem => item.Body)</p>
                            <a class="button-one" href="@Url.Action("Details", new { id=item.PostId })"><span>Read More</span></a>
                        </div>
                    </div>
                }


            </div>
            <ul class="pagination-list">
                <li><a href="#" class="active">01</a></li>
                <li><a href="#">02</a></li>
                <li><a href="#">03</a></li>
            </ul>
        </div>
    </section>
    <!-- End blog-section -->
</div>
